<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Ingredients List</title>
		<link
			rel="stylesheet"
			href="{% static 'ingredients/css/ingredients.css' %}" />
	</head>
	<body>
		<div class="header">
			{% if not user.is_authenticated %}
			<a
				href="{% url 'login' %}"
				class="login-button"
				>Login</a
			>
			{% else %}
			<a
				href="{% url 'logout' %}"
				class="login-button"
				>Logout</a
			>
			<p class="username">Welcome, {{ user.username }}</p>
			{% endif %}
			<h1 class="page-title">INGREDIENTS</h1>
		</div>

		<div class="recipe-main-image">
			<img
				src="{% static 'recipes/images/recipes.webp' %}"
				alt="Main image of the site" />
		</div>
		<div class="search-bar">
			<form
				action="{% url 'ingredients:ingredients_home' %}"
				method="get">
				<input
					type="text"
					name="search"
					placeholder="Search for a ingredients..."
					value="{{ request.GET.search }}" />
				<button type="submit">Search</button>
			</form>
		</div>
		<div class="container">
			{% for ingredient in object_list %}
			<div class="ingredient-card">
				<div class="ingredient-image">
					<img
						src="{{ ingredient.pic.url }}"
						alt="{{ ingredient.name }}" />
				</div>
				<div class="ingredient-content">
					<h2 class="ingredient-name">{{ ingredient.name }}</h2>
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="footer">© 2024 Recipe App - All rights reserved.</div>
	</body>
</html>
